    @import '_connect.scss';
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    
    // ::selection{
    //     background-color: #000000;
    //     color: #ffffff;
    // }
    p{
        margin: 0;
        padding: 0;
    }



    body,html{
        scroll-behavior: smooth;
        font-family: 'Times New Roman', Times, serif !important;
        overflow-x: hidden;
    }

    // ::-webkit-scrollbar{
    //     width: 0px;
    // }


    a,h1,h2,h3,h4,h5,h6{
        text-decoration: none !important;
        font-family:Arial, Helvetica, sans-serif !important;
    }
    a{
        cursor: pointer !important;
    }

    // GENERAL STYLING
    .container{
        width: 90%;
        margin: auto;
    }
    .container-fluid{
        width: 100%;
        margin: auto;
    }




// END OF GENERAL STYLING

    header{
    width: 100%;
    height: 100vh;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1em;
    

    #navigation-section{
        #logo{
            text-align: center;
            padding: 0 !important;
            font-family: "clicker script";
            font-size: 2em;
            font-weight:bold;
        }
    
        nav{
            background-color: rgba(182, 179, 179, 0.493);
            border-radius: 10px;
            padding: 0.5em;
            ul{
                width: 100%;
                display: flex;
                
                li{
                    list-style: none;
                    width: inherit;
                    text-align: center;
                    
                    a{
                        text-decoration: none;
                        font-size: 0.9em;
                        color: #b20a32;
                        font-family: 'Times New Roman', Times, serif !important;
                        transition: ease-in-out all 400ms;
                        &:hover,&:focus{
                            color:#945a03;
                        }
                    }
                    .active{
                        color:#f5f5f5 !important;
                        text-decoration: underline !important;
                    }
                }
            }
    
            
        }
    }

    #content-section{
        background-color: rgba(202, 199, 199, 0.253);
        width: 90%;
        margin: auto;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .text{
            margin: 0.3em 0;
        }
        #second-large-text{
            color:#000000;
            font-size: 1em;
            font-weight: lighter;
            font-family: 'Times New Roman', Times, serif !important;
        }
        #large-text{
            font-size: 4em;
        }
        #paragraph-text{
            color: rgba(0, 0, 0, 0.747);
            width: 70%;
        }

        #btn{
            margin-top: 1.7em;
            a{
                background-color:#945a03;
                padding: 0.5em;
                color: #fff;
                text-transform: uppercase;
                font-size: 0.9em;
                font-family: 'Times New Roman', Times, serif !important;
                // border-radius: 0.4em;
                outline: 1px solid #fff;
                outline-offset: 5px;
                transition: ease-in-out all 600ms;
                &:focus,&:hover{
                    background-color: #b20a32;
                }
            }
        }
    }
    }

    #new-delicacy{
        height: auto;
        width: 95%;
        margin: auto;
        background-color: #fff;
        padding: 3em 0.5em;
        #new-text{
            text-transform: uppercase;
            font-size: 1.8em;
            margin-bottom: 0.5em;
            // padding-left: 1em;
        }
        #display{
            width: 90%;
        margin: auto;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            // grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
            gap: 20px;
            .delicacy{
                height: auto;
                // border-radius: 0.4em;
                overflow: hidden;
                #image{
                    height: 30vh;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                }
                #des{
                    background-color:$primary-color;
                    text-align: center;
                    padding: 0.3em;
                    color: $white-color;
                }
            }

        }

        #more-info{
            width: 70%;
        margin: auto;
            margin-top: 2em;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
            gap: 20px;
            h6{
                text-align: center;
                font-size: 0.9em;
                margin-bottom: .5em;
                &::after{
                    content: "";
                    display: block;
                    background-color: #d4de4b;
                    height: 1px;
                    width: 30%;
                    margin: auto;
                }
            }
            .content{
                text-align: justify;
                color: rgba(0, 0, 0, 0.87);
            }
        }
    }

    #continental{
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #00000085;
        background-blend-mode: multiply;

        #continental-text-section{
            text-align: center;
            #continental-text{
                color: rgba(255, 255, 255, 0.575);
                width: 70%;
                margin: 0 auto;
                text-align: center;
    
            }
            i{
                margin-top: 5%;
                font-size: 0.7em;
                // color: $secondary-color;
                color: #fff;
            }
        }
    }

    #our-story{
        height: auto;
        padding: 1.5em 0;
        #container{
            width: 90%;
            margin: auto;
            display: flex;
            // background-color: red;
            
            #image{
                width: 50%;
                height: auto;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: red !important;
            }
            #content{
                width: 50%;
                padding: .5em;
                h3{
                    padding: 0 1em;
                    text-align: center ;
                    margin-bottom: .5em;
                    display: inline-block;
                    color: $primary-color;
                    letter-spacing: 2px;
                    &::after{
                        content: "";
                        display: block;
                        width: 30%;
                        height: 1px;
                        background-color: $secondary-color;
                    }
                }
                h5{
                    text-align: center;
                    margin-bottom: .5em;
                    font-family: "clicker script" !important;
                    font-weight: 600;
                    font-size: 1.2em;
                }
                p{
                    text-align: justify;
                    margin-bottom: 1em;
                }

                #btn{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    a{
                        color: $white-color;
                        padding: .5em;
                        background-color:darken($color:$tertiary-color, $amount: 10);
                        font-weight: bolder;
                        font-size: 1.1em;
                        font-family: 'Times New Roman', Times, serif !important;
                        outline: 1.5px solid $white-color;
                        outline-offset: -5px;
                        transition: 500ms ease-in-out all;
                        &:hover,&:focus{
                            background-color: darken($color: $tertiary-color, $amount: 20);
                        }
                    }
                }
            }
        }
    }

    #book-table{
        padding:1.5em 0 2em 0;

        #book-title{
            text-align: end;
            font-size: 1.7em;
            padding: 1em;
            font-family: 'Times New Roman', Times, serif !important;
            color: $secondary-color;
            &::after{
                content: "";
                display: block;
                height: 1.1px;
                width: 100%;
                background-color: lighten($color: $black-color, $amount: 40);
            }
        }
        #book-img{
            width: 100%;
            height: 300px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #book-text{
            width: 80%;
            margin: auto;
            text-align: center;
            padding-top: .5em;
            color: rgba(0, 0, 0, 0.726);
        }

        form{
            width: 100%;
            padding: 1em;
            text-align: center;
            .input{
                width:70%;
                margin: .5em auto;
                display: block;
                &::placeholder{
                    color: $black-color !important;
                    font-family: 'Times New Roman', Times, serif;
                }
                    &:focus{    
                    outline: none;
                    box-shadow:1px 1px 5px $secondary-color;
                }
            }

                input{
                    padding: .5em;
                    
                }
                #submit-btn{
                    width: 15%;
                    margin:  1em auto 0;
                    display: block;
                    padding: .5em;
                    border-radius: 0;
                    outline: none;
                    background-color: $secondary-color;
                    border: 1px solid $black-color;
                    color: $white-color;
                    font-size: 0.9em;
                    letter-spacing: 1px;
                    font-weight: bold;
                    
                }
                p{
                    color: $tertiary-color;
                    margin-top: 1em;
                }
        }
    }



    
    // main -table media query size = 768px
    @media only screen and (min-width:462px) {
        #new-delicacy{
            #display{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }

    // TABLET MEDIA QUERY SECTION
    @media only screen and (min-width:768px) {
        
    }

    // LAPTOP MEDIA QUERY SECTION
    @media only screen and (min-width:1024px) {
        #new-delicacy{
            #display{
                grid-template-columns: repeat(4,1fr);
            }
        }

        #book-table{
            
            form{
                .input{
                    width: 55%;
                }
                #mini-input{
                    width: 55%;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    input{
                        width: 48%;
                    }
                }
            }
        }
    }